<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library | Welcome!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <style>
        h1 {text-align: center;}
    </style>
</head>
<body>

    <h1 style="h1"> Welcome to the Library App! </h1>

    <center>
        <div style="div" class="btn-group" role="group">
            <a th:href="@{books}" class="btn btn-primary" id="booksButton">View Books</a>
            <a th:href="@{authors}" class="btn btn-primary" id="authorsButton">View Authors</a>
            <a th:href="@{students}" class="btn btn-primary" id="studentsButton">View Students</a>
            <a th:href="@{reservations}" class="btn btn-primary" id="reservationsButton">View Reservations</a>
        </div>
    </center>

</body>
</html>
